.product-card__name::before {
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 50%;
}

.product-card__name--available::before {
  background-color: teal;
}

.product-card__name--not-available::before {
  background-color: tomato;
}
